a{
    font-size: 14px;
}
#header{
    padding: 0;
    margin: 0;
    /* margin: 0; */
}
#topline{
    width: 100%;
    height:5vh;
    background-color: #990000;
}
#l-items{
    margin-right: 140px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#donate-button{
    border-radius: 4px;
    height: 29px;
    width: 100px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}
.nav-items{
    color: black;
    /* background-color: #990000; */
    font-family: "Arial", sans-serif;
    padding: 0;
    margin: 0;
}
.nav-items:hover{
    color: #990000;
}
.dnone{
    display: none;
}
#buttn{
    height:20px;
    font-size: 25px;
    color: #990000;
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttn:hover{
    font-size: 24px;
}
@media screen and (max-width:993px){
      #buttn{
        display:none;
      }
}
#n-logo{
    height: 40px;
    width: 40px;
}
#n-headd{
    text-transform: uppercase;
    font-family: "Poppins", sans-serif,'Inika';
    /* font-family: Inika; */

    font-size: 16px;
}
.bdrr{
    width:10px;
    /* margin-bottom: 20px; */
    height: 5px;
    color: #717071;
}

.line-container {
    display: flex;
    justify-content: center;
  }

  .horizontal-line {
    margin-top:10px;
    border-top: 0.5px solid #b9b9b9; /* Adjust color and thickness as needed */
    width: 80rem; 
    border-radius: 2rem;
    margin-bottom: 20px;
    /* Adjust the width of the line */
  }
@media screen and (max-width:1333px){
    .horizontal-line{
        width: 70rem;
    }
}
@media screen and (max-width:1105px){
    .horizontal-line{
        width: 55rem;
    }
}
@media screen and (max-width:917px){
    .horizontal-line{
        width: 40rem;
    }
}
#n-topp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    /* text-decoration: underline; */
    /* border-bottom: 1px solid black; */
    
}
#n-lft{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20px;
    width: 10vh; */
    font-size: 25px;
    text-align: center;
    margin-right:60px;
}
#alok{
    font-size: 20px;
}
#n-alok{
    text-align: center;
}
#n-logo-side{
margin-left:50px;
display: flex;
align-items:center;
justify-content:center;
gap:10px;
margin-left: 110px;
}
#logo-side{
    margin-left:50px;
    display: flex;
    align-items:center;
    justify-content:center;
    gap:10px;
    margin-right: 130px;
}
#headd{
    font-size: 16px;
}
.nav-big-menu{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #A9A8A9;
}
.nav-menu-head{
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    
}
#n-menu{
    margin-left: 95px;
   
}
.n-mennu{
    margin-bottom: 7rem;
}
.n-links{
    height: 0;
    overflow: hidden;
    transition:height 0.3s ease ;
}
.show-links{
    height: 10rem;
}
.windoww{
    transition: ease;
    transition-delay: 3s;
    transition-duration: 4s;
}
#dmsg{
    margin-top: 7vh;
    font-size: 27px;
    font-family: Poppins;
    font-weight: 700;
 }
 #h-cardd-2{
    display: flex;
    flex-direction: row; 
    gap:5vh;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 1.4rem;
    border: none;
} 
 .d-name{
     font-size: 30px;
 }
 .d-post{
     font-size: 23px;
     color:#717071;
 }
 .view-more-btnn{
     float: right;
     color: #990000;
 }
 #chandras-block{
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 10vh;
 }
 #chandra{
    width: 281px;
    height: 317px;
    margin-left: 2rem;
    border-radius: 1.4rem;
    align-items: center;
 }
 #cardtext{
     line-height: 1.6;
     font-family: Poppins;
     font-size: 16px;
     letter-spacing: 1%;
     color: #424242;
 }
 .iar{
    text-align: center;
    font-family: Poppins;
    font-size: 27px;
    font-weight: normal;
}
.iaar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Sivalal{
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
}
#siva{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#sival{
    font-size: 16px;
    font-weight: 200;

}
 @media screen and (max-width:767px){
    #chandra{
        margin: 0;
    }
       #h-cardd-2{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       }
       #chaa{
        text-align: center;
    }
    /* #siva{
        align-items: center;
        justify-content: center;
    } */
}
#contain{
    height: 80vh;
    width:100%;
    background-color: #990000;
    color:#FFFFFF;
    display: flex;
    flex-direction:column;
    gap:20px
   } 
   #TORGU{
       background-color: #990000;
       display: flex;
       flex-direction: row;
       border: none;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }
   #GTRGU{
       height: 350px;
       width: 450px;
   }

   #gtr{
        /* height: 15vh; */
       display: flex;
       justify-content: center;
       align-items: center;
       text-align: center;
      /* margin-bottom: 170px; */
       width: 100%;
   }
   @media screen and(max-width:1200px){
      #contain{
        height: 10vh;
      }
   }
   @media screen and (max-width:992px){
       #TORGU{
          flex-direction: column;
       }
       #contain{
           height: 120vh;
       }
   }
   @media screen and(max-width:686px){
          #GTRGU{
           width: 300px;
           height: 30vh;
       } 
   }
   @media screen and (max-width:577px){
       #TORGU{
           flex-direction: column;
           align-items: center;
           justify-content: center;
           width:100%;
           /* height: 100vh; */
       }
       #contain{
           height: 140vh;
       }
       #img-cpy{
           align-items: flex-start;
           justify-content: flex-start;
           height: 40vh;
           width: 100%;
       }
       
   
   }
@media screen and (max-width:426px){
    #contain{
        height: 135vh;
    }
   }
@media screen and (max-width:396px){
    #contain{
        height: 160vh;
    }
}
   .f-parts{
    font-size: 14px;
    font-family: Poppins;
    line-height: auto;
}
.f-search{
    background-color: #ff0000;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    /* border-top-left-radius: 0.5rem; */
}
.searchh{
    border-radius: 9px;
}

.extra-light-text {
    font-weight: 200;
  } 
.element-with-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
#f-head{
    font-family: Poppins;
    font-size: 20px;
}
#f-headd{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 200;
}
#searchd{
    border-top-right-radius: 9px;
    border-bottom-right-radius:9px;
}
/* #btn-ftr{
   
} */
input{
    border: none;
}
#btm-ftr{
    background-color: #990000;
    color:#ffffff;
    width: 100%;
    height: 8vh;
    font-family: poppins;
    font-size: 13px;
    letter-spacing: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ftr-email{
    font-size: 14px;
    font-family: poppins;
    font-weight: 100;
}
.ftr-list{
    margin-bottom: 5px;
}
@media screen and (max-width:501){
    
}
i{
    font-size: 20px;
}
  